@using SkillBuilder.Models.ViewModels
@model HomeViewModel

@{
    ViewData["Title"] = "Home";
    ViewData["IsCatalogPage"] = false;
    ViewData["RequireLogin"] = false;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skillbuilder</title>
</head>

<body>

    <!-- Home Section -->
    @Html.Partial("Sections/_HomeSection")

    <!-- About Section -->
    @Html.Partial("Sections/_AboutSection", Model.Features)

    <!-- Course Section -->
    @Html.Partial("Sections/_CourseSection", Model.Courses)

    <!-- Mission Section -->
    @Html.Partial("Sections/_MissionSection")

    <!-- Community Section -->
    @Html.Partial("Sections/_CommunitySection", Model.Testimonials)

    <!-- Community Highlight Section -->
    @Html.Partial("Sections/_CommunityHighlightSection", Model.Highlights)

    <!-- Join Section -->
    @Html.Partial("Sections/_JoinSection")

</body>

</html>