@model List<SkillBuilder.Models.SupportSessionRequest>

@if (!Model.Any())
{
    <div class="artisan-support-empty declined-empty">
        No declined sessions at the moment.
    </div>
}
else
{
    <div class="artisan-support-list">
        @foreach (var request in Model)
        {
            <div class="artisan-support-card" id="support-@request.Id">
                <div class="artisan-support-user">
                    <img src="@request.User.UserAvatar" class="artisan-support-user-avatar" />
                    <div class="artisan-support-user-info">
                        <div class="artisan-support-user-name">@request.User.FirstName @request.User.LastName</div>
                        <div class="artisan-support-user-course">@request.Course.Title</div>
                    </div>
                </div>

                <div class="artisan-support-title">@request.Title</div>
                <div class="artisan-support-message">@request.Message</div>

                <div class="support-status-badge status-declined" style="margin-top:0.5rem;">
                    Declined
                </div>
            </div>
        }
    </div>
}